<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{toolbar :: head}"></head>
<body>
<header th:replace="~{toolbar :: header}"></header>
<br />
<!--header th:replace="~{fragments :: header}"></header-->
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td th:text="${book.name}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${book.description}"></td>
    </tr>
    <tr>
        <th>Author Name</th>
        <td th:text="${book.authorName}"></td>
    </tr>
    <tr>
        <th>Publishing Year</th>
        <td th:text="${book.publishingYear}"></td>
    </tr>
    <tr>
        <th>Price</th>
        <td th:text="${book.price}"></td>
    </tr>
    <tr>
        <th>Genre</th>
        <td th:text="${book.genre}"></td>
    </tr>
    <tr>
        <th>Copies</th>
        <td th:text="${book.copies}"></td>
    </tr>
</table>

<p> students who has this book checked out</p>

<table class="table table-striped">
    <tr th:each="student : ${studentsbybook}">
        <div th:if="${student.isCheckOut}">
        <td th:text="${student.student.lastname}"></td>
        </div>
    </tr>

</table>

<p> students who has this book held </p>

<table class="table table-striped">
    <tr th:each="student : ${studentsbybook}">
        <div th:if="${student.isHold}">
            <td th:text="${student.student.lastname}"></td></div>
    </tr>

</table>



<div>
    <a th:href="@{'/books/'}"><button class="btn btn-primary" type="submit">Back To Books</button></a>
</div>
</body>
</html>