<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{toolbar :: head}"></head>
<body>
<header th:replace="~{toolbar :: header}"></header>

<!--header th:replace="fragments :: header"></header-->
<form method="post">
    <div class="form-group">
        <label> First Name
            <input th:field="${student.firstname}" class="form-control">
        </label>
        <p class="error" th:errors="${student.firstname}"></p>
    </div>
    <div class="form-group">
        <label> Last Name
            <input th:field="${student.lastname}" class="form-control">
        </label>
        <p class="error" th:errors="${student.lastname}"></p>
    </div>
    <div class="form-group">
        <label> Contact Email
            <input th:field="${student.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${student.contactEmail}"></p>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-success">
    </div>
</form>
<div>
    <a th:href="@{'/students/'}"><button class="btn btn-primary" type="submit">Back To Books</button></a>
</div>
</body>
</html>