<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Learner's library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<header th:replace="~{toolbar :: header}"></header>

    <!--<h1 th:text="${#strings.capitalizeWords(title)}"></h1-->
    <form th:action="@{/students/search/results}" method = "post">
        <h2>Search Student by:</h2>
        <p>
            <span th:each="column : ${studentSearchOptions}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == searchType}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" th:value="${searchTerm}"/>
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>Student First Name</th>
                <th>Student Last Name</th>
                <th>Student Email</th>
                <th>Action</th>
                <th>Action</th>

            </tr>

    </table>
        <table class="table table-striped">
            <tr class="table-danger" th:each="student : ${students}">
                <td class="table-success">
                        <p th:text="${student.firstname}"></p></td>
                <td class="table-success">
                    <p th:text="${student.lastname}"></p></td>
                <td class="table-success">
                    <a th:href="@{'/students/detail/' + ${student.id}}"th:text="${student.contactEmail}"></a>
                </td>
                <td><p><a th:href="@{'/students/update?studentId=' + ${student.id}}"><button class="btn btn-primary" type="submit">Update</button></a></p></td>
                <td><p><a th:href="@{'/students/delete?studentId=' + ${student.id}}"><button class="btn btn-primary" type="submit">Delete</button></a></p></td>
            </tr>
        </table>
    </div>
    <div class="container">
        <form th:action="@{/students/add}" method = "get">
             <input type="submit" value="Add Student" />
        </form>
    </div>
</div>
</body>
</html>

<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header2"></header>-->

<!--div class="container body-content"-->

<!--h1 th:text="${#strings.capitalizeWords(title)}"></h1-->

<!--<form th:action="@{/students/search/update}" method = "post">
    <h2>Search by:</h2>

    <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

    </p>

    <p>
        <label th:for="${searchTerm}">Keyword:</label>
        <input th:type="text" name="searchTerm" value="" />
    </p>

    <input type="submit" value="Search" />
</form>
<p th:text="${error}" class="error"></p>

<hr />

</body>
</html>-->
